

.list__container{
  display: block;
  height: 270px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(18, 64, 169, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    height: auto;
    
  }
.list> .list__item{
  scroll-snap-align: center;
}