.layout{
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar main"
    "sidebar widget"
    "footer footer"; /* distribución de las áreas */
  grid-template-rows: 1fr 5fr 1fr auto; /* tamaño de las filas */
  grid-template-columns: 1fr 3fr; /* tamaño de las columnas */
  gap: 1em; /* espacio entre las celdas */
  justify-content: left;
}

.layout__header {
  grid-area: header;
  background-color: bisque;
  display: block;
  text-align: center;
  padding: 1em;
}

.layout__sidebar {
  grid-area: sidebar;
  background-color: rgb(118, 206, 206);
  padding: 1em;
}

.layout__sidebar ul {
  list-style-type: none;
  padding: 0;
}

.layout__main {
  grid-area: main;
  background-color: lightyellow;
  padding: 1em;
}

.layout__widget {
  grid-area: widget;
  background-color: lightblue;
  padding: 1em;
}

.layout__footer {
  grid-area: footer;
  background-color: lightcoral;
  padding: 1em;
}

@media screen and (max-width: 866px) {
  .layout{
    grid-template-areas: 
      "header"
      "sidebar"
      "main"
      "widget"
      "footer";
    grid-template-rows: 1fr 1fr 5fr auto;
    grid-template-columns: 1fr;
    gap: 1em;
    justify-content: left;
  }
}