p {
	color: black; /*[0,0,1,0]*/
}
.wrapper .text {
	color: blue; /*[0,0,2,0]*/
}
#main p.highlight {
	color: green; /*[0,1,1,1]*/
}
[data-type="important"] {
	color: red; /*[0,0,1,0]*/
}
.content .highlight[data-type="important"] {
	color: purple; /*[0,0,3,0]*/
}
.text {
	color: orange !important; /*[0,0,1,0] important!*/
}

#main .content .highlight[data-type="important"]{
  color: purple; /*[0,1,3,0]*/
}